# Database Configuration
# Get your connection string from https://console.neon.tech
DATABASE_URL="postgresql://user:password@host.neon.tech/dbname?sslmode=require"


# Application Configuration
NEXT_PUBLIC_APP_URL="http://localhost:3000"
