# Database Configuration
# For LOCAL Postgres:
DATABASE_URL="postgresql://user:password@localhost:5432/dbname"

# For Neon/Cloud Postgres (if needed):
# DATABASE_URL="postgresql://user:password@host.neon.tech/dbname?sslmode=require"


# Application Configuration
NEXT_PUBLIC_APP_URL="http://localhost:3000"
